{% extends 'base.html' %}
{% load static %}
{% block title %}
{{project}}
{% endblock title %}
{% block base %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'project.css' %}">


<style>
  .right-sidebar {
    position: fixed;
    bottom: 0px;
    right: 0;
    height: 87vh;
    background-color: #fff;
    border-left: 1px solid #ddd;
    overflow: hidden;
  }

  .message-container {
    padding-top: 5px;
    right: 0;
    position: relative;
    height: 100%;
  }

  .message-list {
    height: 75vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .message-form {
    border-top: 1px solid #ddd;
    width: 100%;
  }

  .message-form form {
    display: flex;
    height: 100%;
  }

  .message-form input {
    flex: 1;
    margin-right: 10px;
  }

  .message-form button {
    height: 100%;
    width: 80px;
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    background-color: #fff;
    width: 100%;
  }

  .message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .sender-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }

  .sender-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sender-info {
    display: flex;
    flex-direction: column;
  }

  .sender-name {
    font-size: 14px;
  }

  .message-date {
    font-size: 0.8em;
  }

  .message-body {
    width: 100%;
    font-size: 14px;
  }
</style>

<!-- header row  -->
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="container" style="padding-left: 10vw;">{{project}}
          <span class="badge">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
              Detail
            </button>
          </span>
        </h1>
      </div>
      <div class="col-sm-4">
        <small>
          <strong>Representative: </strong><a href="#">{{project.representative}}</a><br>
          <strong>Members: </strong>
          {% for member in project.members.all %}
          <a href="{% url 'profile' member.id %}">{{ member.username }}</a>,
          {% endfor %}
          <br>
          <strong>Deadline: </strong>{{project.deadline}}
        </small>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-2">
        <div class="sticky-icon-bar">
          <a href="https://codepen.io/lenasta92579651" class="codepen"><i class="fab fa-codepen"></i></a>
          <a href="https://twitter.com/lenasta92579651" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/stanleylenablog/" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCMtOSqCHykGR3ATq5nwBhSw?view_as=subscriber" class="youtube"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-sm-10">
        <div>
          <small>
            <strong>Tasks: </strong> {{task_completed}}/{{total_task}}
            <a class="btn btn-sm btn-primary" href="{% url 'addTask' project.id %}"><strong>+</strong>Task</a>
          </small>
        </div>
        <hr>
        <div>
          <div class="container">
            {% for task in task %}
            <div class="card text-left shadow">
              <div class="card-header text-white bg-{{task.theme}}">
                <div class="row">
                  <div class="col-sm-7">
                    <div style="float: left;">
                      <span>{{forloop.counter}}.</span>
                    </div>
                    <div style="float: left;">
                      {{task.title | safe}}
                    </div>

                  </div>
                  <div class="col-sm-3">

                    <a style="color: #ffffff;" type="button" data-toggle="modal" data-target="#{{task.id}}">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <!--  modal -->
                    <div class="modal fade text-dark" id="{{task.id}}" tabindex="-1" role="dialog"
                      aria-labelledby="{{task.id}}Label">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="{{task.id}}Label"><strong>Task:</strong> {{task.title | safe}}
                            </h4>
                          </div>
                          <div class="modal-body">
                            <strong>Detail</strong> {{task.description | safe}}
                            <br>
                            <small class="text-muted">
                            <strong>Credit:</strong> {{task.credits}}
                            <br>
                            <strong>Created by: </strong> {{task.created_by}}
                            <br>
                            <strong>Created on: </strong> {{task.created}}
                            <br>
                            <strong>Deadline: </strong> {{task.deadline}}
                          </small>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of modal -->

                    &nbsp;
                    <a style="color: #ffffff;" href="#">
                      <i class="fa fa-comments" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="col-sm-1">
                    <input class="form-check-input" type="checkbox" name="" id="">
                  </div>
                </div>
              </div>
              {% if task.subtasks %}
              <div class="card-body">
                {% for obj in task.subtasks %}
                <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">{{forloop.counter}}.{{obj}}</p>
                  </div>
                  <div class="col-sm-3 text-primary">
                    <a type="button" data-toggle="modal" data-target="#{{obj.title}}">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <!--  modal -->
                    <div class="modal fade text-dark" id="{{obj.title}}" tabindex="-1" role="dialog"
                      aria-labelledby="{{obj.title}}Label">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="{{obj.title}}Label"><strong>SubTask:</strong> {{obj | safe}}
                            </h4>
                          </div>
                          <div class="modal-body">
                            <strong>Detail</strong> {{obj.description | safe}}
                            <br>
                            <small  class="text-muted">
                            <strong>Credit:</strong> {{obj.credits}}
                            <br>
                            <strong>Created by: </strong> {{obj.created_by}}
                            <br>
                            <strong>Created on: </strong> {{obj.created}}
                            <br>
                            <strong>Deadline: </strong> {{obj.deadline}}
                          </small>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of modal -->

                    &nbsp;
                    <a href="#">
                      <i class="fa fa-comments" aria-hidden="true"></i>
                    </a>
                    &nbsp;


                  </div>
                  <div class="col-sm-1">
                    <input class="form-check-input border-primary" type="checkbox" name="" id="">
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}

              <div class="card-footer text-muted row">
                <div class="col-sm-6">
                  <strong>Remaining: </strong>{{task.remaining_time}}
                </div>
                <div class="col-sm-6 text-right">
                  <a class="btn btn-outline-warning btn-sm" href="{% url 'add_subtask' task.id %}">Add Subtask</a>
                  <a class="btn btn-outline-dark btn-sm" href="#">Modify</a>
                  <a class="btn btn-outline-{{task.theme}} btn-sm" href="#">Update</a>
                </div>
              </div>
            </div>
            <br>
            {% endfor %}
          </div>
          <!-- end of task list -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 right-sidebar">

    <div class="container ">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
            type="button" role="tab" aria-controls="messages" aria-selected="true">Messages</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="links-tab" data-bs-toggle="tab" data-bs-target="#links" type="button" role="tab"
            aria-controls="links" aria-selected="false">Links</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="media-tab" data-bs-toggle="tab" data-bs-target="#media" type="button" role="tab"
            aria-controls="media" aria-selected="false">Media</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <!--  Messages  -->
          <div class="message-container">
            <div class="message-list">
              <!-- message items will be added dynamically -->
              {% for msg in msg %}
              <div class="message">
                <div class="message-header">
                  <div class="sender-image">
                    <img src="{{msg.sender.profile.avatar.url}}" alt="Sender Image" width="20" height="20" />
                  </div>
                  <div class="sender-info">
                    <div class="sender-name">
                      <a href="{% url 'profile' msg.sender.id %}">{{msg.sender}}</a>
                    </div>
                    <div class="message-date">
                      <small class="text-muted">{{msg.created}}</small>
                    </div>
                  </div>
                </div>
                <div class="message-body">
                  <p>{{msg.body | safe}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- messsage form  -->
            <div class="message-form">
              <form method="POST">
                {% csrf_token %}
                <input type="text" id="id_msg-body" name="msg-body" required=""  placeholder="Type your message here">
                <button type="submit" name="messagebtn">Send</button>
              </form>
            </div>
          </div>
        </div>
        <!-- end of messages  -->

        <!-- link tab  -->
        <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
          <h3>Links</h3>
          <p>This is the links tab.</p>
        </div>
        <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
          <h3>Media</h3>
          <p>This is the media tab.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Project detail</h1>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Project Name: </dt>
          <dd>{{project.name}}</dd>
          <dt>Deadline: </dt>
          <dd>{{project.deadline}}</dd>
          <dt>Created on: </dt>
          <dd>{{project.created}}</dd>
          <dt>Representative: </dt>
          <dd>{{project.representative}}</dd>
          <dt>Tasks Remaining: </dt>
          <dd>{{task_remaining}}</dd>
          <dt>Tasks Completed: </dt>
          <dd>{{task_completed}}</dd>
          <dt>Total Tasks: </dt>
          <dd>{{total_task}}</dd>
          <dt>Members: </dt>
          <dd>{{project.members}}</dd>
          <dt>Project Description: </dt>
          <dd>{{project.description}}</dd>

        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>
<!-- end of Modal -->


<script>
  // Get the small screen container element
  const smallScreenContainer = document.getElementById("small-screen-container");

  // Scroll to the bottom of the container after the page has finished loading
  window.addEventListener("load", function () {
    smallScreenContainer.scrollTop = smallScreenContainer.scrollHeight;
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
{% endblock base %}