{% extends 'base.html' %}
{% block title %}
My Projects
{% endblock title %}
{% block base %}


<center>
  <h3><strong>Project List</strong></h3>
</center>
<br><br>

<ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-myprojects-tab" data-bs-toggle="pill" data-bs-target="#pills-myprojects"
      type="button" role="tab" aria-controls="pills-myprojects" aria-selected="true">My Project ({{projects|length}})</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-ongoing-tab" data-bs-toggle="pill" data-bs-target="#pills-ongoing" type="button"
      role="tab" aria-controls="pills-ongoing" aria-selected="false">Ongoing ({{ongoing_projects|length}})</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-completed-tab" data-bs-toggle="pill" data-bs-target="#pills-completed"
      type="button" role="tab" aria-controls="pills-completed" aria-selected="false">Completed ({{completed_projects|length}})</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-cancelled-tab" data-bs-toggle="pill" data-bs-target="#pills-cancelled"
      type="button" role="tab" aria-controls="pills-cancelled" aria-selected="false">Cancelled ({{cancelledprojects|length}})</button>
  </li>
</ul>
<hr class="w-75 mx-auto">



<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-myprojects" role="tabpanel" aria-labelledby="pills-myprojects-tab"
    tabindex="0"  style="padding: 20px;">
    <div class="row">

      {% for project in projects %}
        <div class="card shadow col-lg-3 col-md-4 col-sm-4" style="margin: 10px; padding: 0;">
          <div class="card-header">
            <h3>
              {{project.name}}
            </h3>
            <small class="text-muted">
              <b>Representative: <a href="{% url 'profile' project.representative.id %}"> {{project.representative}}</a></b>
              <br>
           Members:
            {% for member in project.members.all %}
          <a href="{% url 'profile' member.id %}">{{ member.username }}</a>,
          {% endfor %} </small>
            <br>
            <small class="text-muted">
              Created:{{project.created}}
              <br>
              Deadline:{{project.deadline}}
            </small>
          </div>
          <div class="card-footer">
            <a href="{% url 'projectDetail' project.id %}" class="btn btn-primary">View Project</a>
          </div>
        </div>

      {% empty %}
      <center>No Records</center>
      {% endfor %}
    </div>










  </div>
  <div class="tab-pane fade" id="pills-ongoing" role="tabpanel" aria-labelledby="pills-ongoing-tab" tabindex="0">
<div class="row">

      {% for project in ongoing_projects %}
        <div class="card shadow col-lg-3 col-md-4 col-sm-4" style="margin: 10px; padding: 0;">
          <div class="card-header">
            <h3>
              {{project.name}}
            </h3>
            <small class="text-muted">
              <b>Representative: <a href="{% url 'profile' project.representative.id %}"> {{project.representative}}</a></b>
              <br>
           Members:
            {% for member in project.members.all %}
          <a href="{% url 'profile' member.id %}">{{ member.username }}</a>,
          {% endfor %} </small>
            <br>
            <small class="text-muted">
              Created:{{project.created}}
              <br>
              Deadline:{{project.deadline}}
            </small>
          </div>
          <div class="card-footer">
            <a href="{% url 'projectDetail' project.id %}" class="btn btn-primary">View Project</a>
          </div>
        </div>

      {% empty %}
      <center>No Records</center>
      {% endfor %}
    </div>

  </div>
  <div class="tab-pane fade" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab" tabindex="0">
    <div class="row">

      {% for project in finished_projects %}
        <div class="card shadow col-lg-3 col-md-4 col-sm-4" style="margin: 10px; padding: 0;">
          <div class="card-header">
            <h3>
              {{project.name}}
            </h3>
            <small class="text-muted">
              <b>Representative: <a href="{% url 'profile' project.representative.id %}"> {{project.representative}}</a></b>
              <br>
           Members:
            {% for member in project.members.all %}
          <a href="{% url 'profile' member.id %}">{{ member.username }}</a>,
          {% endfor %} </small>
            <br>
            <small class="text-muted">
              Created:{{project.created}}
              <br>
              Deadline:{{project.deadline}}
            </small>
          </div>
          <div class="card-footer">
            <a href="{% url 'projectDetail' project.id %}" class="btn btn-primary">View Project</a>
          </div>
        </div>

      {% empty %}
      <center>No Records</center>
      {% endfor %}
    </div>

  </div>
  <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-cancelled-tab" tabindex="0">
    
    <div class="row">

      {% for project in cancelled_projects %}
        <div class="card shadow col-lg-3 col-md-4 col-sm-4" style="margin: 10px; padding: 0;">
          <div class="card-header">
            <h3>
              {{project.name}}
            </h3>
            <small class="text-muted">
              <b>Representative: <a href="{% url 'profile' project.representative.id %}"> {{project.representative}}</a></b>
              <br>
           Members:
            {% for member in project.members.all %}
          <a href="{% url 'profile' member.id %}">{{ member.username }}</a>,
          {% endfor %} </small>
            <br>
            <small class="text-muted">
              Created:{{project.created}}
              <br>
              Deadline:{{project.deadline}}
            </small>
          </div>
          <div class="card-footer">
            <a href="{% url 'projectDetail' project.id %}" class="btn btn-primary">View Project</a>
          </div>
        </div>

      {% empty %}
      <center>No Records</center>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock base %}