{% extends 'base.html' %}
{% block title %}
TEST-PAGE
{% endblock title %}
{% block base %}

<style>
  .modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
</style>


<div class='container'>

    <!-- index.html -->


  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <div class="container mt-5">
    <h1>Chat Box Example</h1>
    <p>Click the button to open the chat box:</p>
    <button class="btn btn-primary" id="chat-btn">Chat</button>
    <div id="chat-box" class="d-none">
      <div class="card">
        <div class="card-header">Chat</div>
        <div class="card-body">
          <ul class="list-unstyled" id="message-list">
            <!-- Chat messages will be dynamically added here -->
          </ul>
          <form id="message-form">
            <div class="form-group">
              <input type="text" class="form-control" id="message-input" placeholder="Type your message...">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-secondary float-right" id="close-chat-btn">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open Modal
  </button>
  
  <!-- Button trigger modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
        </div>
        <div class="modal-body">
          Modal content goes here.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->
  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(function() {
      var chatBox = $('#chat-box');
      var chatBtn = $('#chat-btn');
      var closeBtn = $('#close-chat-btn');
      var messageList = $('#message-list');
      var messageForm = $('#message-form');
      var messageInput = $('#message-input');

      chatBtn.click(function() {
        chatBox.removeClass('d-none');
      });

      closeBtn.click(function() {
        chatBox.addClass('d-none');
      });

      messageForm.submit(function(event) {
        event.preventDefault();
        var message = messageInput.val();
        if (message) {
          var li = $('<li>').text(message);
          messageList.append(li);
          messageInput.val('');
        }
      });
    });
  </script>

</div>
{% endblock base %} 